<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:annotation-config />

	<bean class="com.spring.Address" name="address" c:city="Tundla"
		c:state="Uttar Pradesh" />

	<bean class="com.spring.Address" name="address1" c:city="Mumbai"
		c:state="Maharastra" />

	<bean class="com.spring.Salary" name="salary" c:pf="5000"
		c:ctc="9000" />
		
		<bean class="com.spring.Salary" name="salary1" c:pf="3000"
		c:ctc="7000" />
	<bean class="com.spring.Employee" name="employee" />

</beans>